/* Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Main */

:root {
  --pixel-size: 2px;
  --grid-cell: calc( var(--pixel-size) * 16);
  --coal: #161616;
}

@media(min-width: 700px) {
  :root {
    --pixel-size: 3px;
  }
}

@media(min-width: 1000px) {
  :root {
    --pixel-size: 4px;
  }
}

body {
  background: var(--coal);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* To ensure smooth scaling */

.pixel-art {
  image-rendering: pixelated;
}

.frame {
  width: calc(var(--pixel-size) * 160);
  height: calc(var(--pixel-size) * 144);
  outline: var(--pixel-size) solid #fff;
  z-index: 1;
  position: relative;
}

.camera {
  width: calc(var(--pixel-size) * 160);
  height: calc(var(--pixel-size) * 144);
  overflow: hidden;
  background: black;
  position: relative;
}

.map {
  image-rendering: pixelated;
  background-image: url("img/map-backyard.webp");
  background-size: 100%;
  width: calc(13 * var(--grid-cell));
  height: calc(10 * var(--grid-cell));
  position: relative;
}

.character {
  width: calc( var(--grid-cell)* 2);
  height: calc( var(--grid-cell)* 2);
  position: absolute;
  overflow: hidden;
}

.shadow {
  width: calc( var(--grid-cell)* 2);
  height: calc( var(--grid-cell)* 2);
  position: absolute;
  left: 0;
  top: 0;
  background: url("img/character-shadow-default.webp") no-repeat no-repeat;
  background-size: 100%;
}

.character-spritesheet {
  position: absolute;
  background: url("img/character-default.webp") no-repeat no-repeat;
  background-size: 100%;
  width: calc( var(--grid-cell)* 8);
  height: calc( var(--grid-cell)* 8);
}

.character[facing="right"] .character-spritesheet {
  background-position-y: calc( var(--pixel-size) * -32);
}

.character[facing="up"] .character-spritesheet {
  background-position-y: calc( var(--pixel-size) * -64);
}

.character[facing="left"] .character-spritesheet {
  background-position-y: calc( var(--pixel-size) * -96);
}

.character[walking="true"] .character-spritesheet {
  animation: walkAnimation 0.6s steps(4) infinite;
}

.dpad {
  position: absolute;
  right: calc(var(--pixel-size) * 2);
  bottom: calc(var(--pixel-size) * 2);
  width: calc(var(--pixel-size) * 37);
  height: calc(var(--pixel-size) * 38);
}

.dpad-button {
  appearance: none;
  outline: 0;
  border: 0;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

.dpad-button svg {
  display: block;
  height: calc(var(--pixel-size) * 13);
}

.dpad-button.pressed .Arrow_arrow-inset {
  stroke: #07c2cc;
}

.dpad-button.pressed .Arrow_arrow-body {
  stroke: #17dfea;
}

.dpad-up {
  position: absolute;
  left: calc(var(--pixel-size) * 12);
  top: 0;
}

.dpad-down {
  position: absolute;
  bottom: var(--pixel-size);
  left: calc(var(--pixel-size) * 12);
}

.dpad-left {
  position: absolute;
  top: calc(var(--pixel-size) * 12);
  left: 0;
}

.dpad-right {
  position: absolute;
  top: calc(var(--pixel-size) * 12);
  right: 0;
}

.dpad {
  user-select: none;
}

/*
.corner-topleft, .corner-topright, .corner-bottomleft, .corner-bottomright {
  position: absolute;
  width: var(--pixel-size);
  height: var(--pixel-size);
  background: var(--bg);
  z-index: 2;
}

.corner-topleft {
  top: calc(var(--pixel-size) * -1);
  left: calc(var(--pixel-size) * -1);
}

.corner-topright {
  top: calc(var(--pixel-size) * -1);
  right: calc(var(--pixel-size) * -1);
}

.corner-bottomleft {
  bottom: calc(var(--pixel-size) * -1);
  left: calc(var(--pixel-size) * -1);
}

.corner-bottomright {
  bottom: calc(var(--pixel-size) * -1);
  right: calc(var(--pixel-size) * -1);
}
*/

.headline {
  position: absolute;
  top: calc(var(--pixel-size) * 2);
  right: calc(var(--pixel-size) * 2);
  width: calc(var(--pixel-size) * 75)
}

@keyframes walkAnimation {
  from {
    transform: translate3d(0%, 0%, 0);
  }
  to {
    transform: translate3d(-100%, 0%, 0);
  }
}